
@font-face {
    font-family: 'Fluent Icons';
    src: url("fonts/fluenticons.ttf");
}
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

body {
    background: white;
    margin: 0px;
}
h1 {
    font-size: 2em;
    margin: .67em 0
}

h2 {
    font-size: 1.5em;
    margin: .75em 0
}

h3 {
    font-size: 1.17em;
    margin: .83em 0
}

h5 {
    font-size: .83em;
    margin: 1.5em 0
}

h6 {
    font-size: .75em;
    margin: 1.67em 0
}

.button-icon {
    margin-right: 4px;
    position: relative;
    top: 2px;
}

.winui-button {
    min-height: 32px;
    min-width: 32px;
    border: solid;
    border-width: 1px;
    background-color: #ffffff08;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-color: #0000000e #0000000e #00000027 #0000000e;
    border-width: 1pt;
    border-radius: 4px;
    background-color: #ffffff08
}

    .winui-button:hover {
        background-color: #9c9c9c13;
    }

    .winui-button:active {
        border-color: #0000000e;
        background-color: #ffffff02;
        color: #5D5D5D
    }

    .winui-button:disabled {
        border-color: #0000000e;
        background-color: #ffffff02;
        color: #5D5D5D
    }

.winui-hyperlink-button {
    min-height: 32px;
    min-width: 32px;
    border-style: none;
    background-color: transparent;
    border-radius: 4px;
}

    .winui-hyperlink-button:hover {
        background-color: #00000012;
    }

    .winui-hyperlink-button:active {    
        background-color: #00000009;
    }

    .winui-hyperlink-button:disabled {    
        color: #5d5d5d;
        background-color: transparent;
    }

.unsel {
    pointer-events: none;
    user-select: none;
}

/*.winui-window {
    border-style
}

*/

.winui-accent {
    background-color: #0067c0;
    color: white;
}
    .winui-accent:hover {
        background-color: #1975c5;
    }

    .winui-accent:active {
        background-color: #3183cA;
    }

.winui-accent-3d {
    background-color: #0067c0;
    border-color: #1473c5 #1473c5 #003e73 #1473c5;
    color: white;
}

    .winui-accent-3d:hover {
        background-color: #1975c5;
        border-color: #2b80ca #2b80ca #0f4676 #2b80ca;
    }

    .winui-accent-3d:active {
        background-color: #3183ca;
        border-color: transparent;
        color: #c2daef;
    }

.top-bar {
    height: 40px; 
    background-color: #f3f3f3; 
    border-bottom-style: solid; 
    border-bottom-color: #e6e6e6; 
    border-bottom-width: 1pt;
    white-space: nowrap;
}

.fluent-icon {
    font-family: 'Fluent Icons';
    font-size: 16px;
    position: relative;
    top: 2px;
}

.main-content {
    margin: 8px;
}
